* {
    font-family: JetBrains Mono, Symbols Nerd Font;
    font-size: 24px;
    transition-property: background-color, transform;
    transition-duration: 0.7s;
    box-sizing: border-box; /* This ensures the padding and borders are considered correctly */
}

window {
    background-color: #11111b;
    /* border-radius: 10px; */
}

button {
    background-color: #11111b;
    border: 2px solid #cdd6f4; /* Set visible border color */
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Ensures the background image is contained within the button */
    margin: 15px;
    padding: 40px; /* Adds space for the background image */
    cursor: pointer; /* Indicates the button is clickable */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Hover effect */
    position: relative;
}

button:hover {
    background-color: #cdd6f4;
    transform: scale(1.1); /* Slightly enlarge button on hover */
}

button:active {
    transform: scale(0.95); /* Slightly shrink button on click */
}

button:focus {
    outline: none; /* Remove default outline on focus */
}

/* Lock Button */
#lock {
    background-image: url("~/.config/assets/wlogout/assets/lock.png");
}

#lock:hover {
    background-image: url("~/.config/assets/wlogout/assets/lock-hover.png");
}

/* Logout Button */
#logout {
    background-image: url("~/.config/assets/wlogout/assets/logout.png");
}

#logout:hover {
    background-image: url("~/.config/assets/wlogout/assets/logout-hover.png");
}

/* Shutdown Button */
#shutdown {
    background-image: url("~/.config/assets/wlogout/assets/power.png");
}

#shutdown:hover {
    background-image: url("~/.config/assets/wlogout/assets/power-hover.png");
}

/* Reboot Button */
#reboot {
    background-image: url("~/.config/assets/wlogout/assets/restart.png");
}

#reboot:hover {
    background-image: url("~/.config/assets/wlogout/assets/restart-hover.png");
}

/* Exit Button */
#exit {
    background-image: url("~/.config/assets/wlogout/assets/restart.png");
}

#exit:hover {
    background-image: url("~/.config/assets/wlogout/assets/restart-hover.png");
}

/* Suspend Button */
#suspend {
    background-image: url("~/.config/assets/wlogout/assets/sleep.png");
}

#suspend:hover {
    background-image: url("~/.config/assets/wlogout/assets/sleep-hover.png");
}
